.featured-item {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../assets/product/product (11).jpg");
  background-position: center;
  background-size: cover;
}

@media (max-width: 768px) {
  .featured-item {
    background-size: cover;
  }
}
